<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DOARKitOSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DOARKitiOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>DOAROSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DOARiOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B7803991A483C1A0011D9A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B7803AB1A483C1A0011D9A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B7803C91A483FAB0011D9A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B7803D31A483FAB0011D9A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B7803F11A48416D0011D9A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B7804051A48416D0011D9A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B7804281A4842100011D9A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B7804321A4842110011D9A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
